<h1>Welcome to the Word Counter!</h1>
<form action="/count">
  <div class="form-group">
    <label for="string">Sentence:
    </label>
    <input id="string" name="string" class="form-control" type="text">
    <div>
  <div class="form-group">
    <label for="word">Word to Count:
    </label>
    <input id="word" name="word" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-success">Submit</button>
</form>
